body{
  width:100%;
  padding:200px 20px;
  gap:30px;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  background:radial-gradient(circle,red,yellow,orange);
  overflow:hidden;
}
.perguntas{
  display:flex;
  flex-direction:row;
  gap:20px;
  padding:15px;
}
main {
  background-color:rgb(221, 206, 206);
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
}
.pergunta{
    border-left: solid 4px black;
    border-right: solid 4px black;
    padding:10px;
}