*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
}

html,body{
  max-width:100%;
  height:100%;
}

body{
  width:100%;
  height:100%;
  background: linear-gradient(to bottom, #052977, #050666);
  overflow-x: hidden;
}


.CalMedia{
  display: none;
}
.CalAV3{
display: none;
}
.CalFinal{
  display: block;
}

/*display daCalculadora*/
.Cal-display{
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  padding: 1.5em;
  margin: 0 auto;
  background:#8A00C4;
  border-radius: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Cal-display .pergunta{
  width:80%;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.01em;
}
.Cal-display .pergunta label{
  font-size: 1.2em;
  font-weight: bold;
}
.Cal-display .pergunta input{
  width:100%;
  height: 2em;
  padding: 0.5em;
  border: none;
  border-radius: 1em;
  box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
  border-bottom: black 0.3em solid;
  background: rgba(255, 255, 255, 0.096);
}
.Cal-display .pergunta input:focus{
  outline: none;
  border-bottom: #053cb3 0.3em solid;
}
.Cal-display button{
  width: 50%;
  height: 2.5em;
  border: none;
  border-radius: 1em;
  background: #053cb3;
  color: azure;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
}
.resultado{
  width: 60vw;
  height: 60vh;
  background-color: bisque;
  border: #053cb3 0.3em solid;
  border-radius: 2em;
}
.resultado::backdrop{
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
.resultado h2{
  font-size: 2em;
  color: black;
  text-align: center;
  padding-top: 20vh;
}

/*Calculo da Av3*/

@media (max-width: 768px) {
  .CalMedia{
    width: 80%;
    padding: 1em;
  }
 
}